.signup-background{
    background-image: url('https://img.freepik.com/free-photo/top-view-arrangement-with-salad-boxes-sauce_23-2148247882.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}